<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>BroCal</title>

	<!-- Jquery -->
	<script src="https://code.jquery.com/jquery.js"></script>

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	 crossorigin="anonymous">

	<!-- Materialize -->
	<script src="/assets/materialize/js/materialize.min.js"></script>
	<link rel="stylesheet" href="/assets/materialize/css/materialize.min.css" type="text/css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- DataTables -->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css"/>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

	<!-- Front End Javascript Files -->
	<script src="/assets/js/globals.js"></script>
	<script src="/assets/js/weightModal.js"></script>

	<!-- Front End CSS Files -->
	<link rel="stylesheet" href="/assets/css/global.css" type="text/css" />
	<link rel="stylesheet" href="/assets/css/weightModal.css" type="text/css" />
	<link rel="stylesheet" href="/assets/css/footer.css" type="text/css" />

</head>

<body>
	<nav>
		<div class="nav-wrapper blue darken-4">
			<a href="/" class="brand-logo center">BroCal</a>
			<ul id="nav-mobile" class="left">
				<li>
					<a href="/profile">
						<i class="fas fa-user"></i>
					</a>
				</li>
				<li>
					<a id="alertButton">
						<i class="fas fa-bell"></i> &nbsp; <span id="alertCount" class="new badge blue accent-4" style="display:none;"></span>
					</a>
				</li>
			</ul>
			<ul id="nav-mobile" class="right">
				<li>
					<a class="right" href="/logout">
						<i class="fas fa-sign-out-alt"></i>
					</a>
				</li>
			</ul>
		</div>
	</nav>

	<main>

		{{{ body }}}

	</main>

	<footer>
		<div class="fixed-action-btn toolbar">
			<a class="btn-floating btn-large blue darken-4 footer-button">
    			<i class="large material-icons">menu</i>
  			</a>
			<ul>
				<li>
					<a class="waves-effect waves-light btn btn-large blue darken-4">
						<i class="fas fa-chart-line"></i>
					</a>
				</li>
				<li>
					<a class="waves-effect waves-light btn btn-large blue darken-4">
						<i class="fas fa-utensils"></i>
					</a>
				</li>
				<li>
					<a href="/alcohol" class="waves-effect waves-light btn btn-large blue darken-4">
						<i class="fas fa-beer"></i>
					</a>
				</li>
				<li>
					<a class="waves-effect waves-light btn btn-large blue darken-4" href="/">
						<i class="fas fa-weight"></i>
					</a>
				</li>
			</ul>
		</div>
	</footer>

</body>

</html>
