<script src="/assets/js/profile.js"></script>

<div class="container">

    <h5>Account Profile</h5>

    <form class="row" id="signup" name="signup" method="put" action="/api/profile">
        <input name="id" type="hidden" />
        <div class="input-field inline col s6">
            <label for="firstname">First Name</label>
            <input id="firstname" name="firstname" type="text" />
        </div>
        <div class="input-field inline col s6">
            <label for="lastname">Last Name</label>
            <input id="lastname" name="lastname" type="text" />
        </div>
        <div class="input-field inline col s6">
            <label for="age">Age</label>
            <input id="age" name="age" type="number"/>
        </div>
        <div class="input-field inline col s6">
            <select id="sex" name="sex">
                <option value="" disabled selected>Choose Gender</option>
                <option value="male" >Bro</option>
                <option value="female" >Chicky</option>
            </select>
            <label>Sex</label>
        </div>
        <div class="input-field inline col s3">
            <label class="active" for="feet">Height (ft)</label>
            <input id="feet" name="feet" type="number" max="10" required/>
        </div>
        <div class="input-field inline col s3">
            <label class="active" for="inches">Height (in)</label>
            <input id="inches" name="inches" type="number" max="12" required/>
        </div>
        <div class="input-field inline col s3">
            <label for="start_weight">Start Weight</label>
            <input id="start_weight" name="start_weight" type="number" />
        </div>
        <div class="input-field inline col s3">
            <label for="goal_weight">Goal Weight</label>
            <input id="goal_weight" name="goal_weight" type="number" />
        </div>
        <div class="input-field inline col s6">
            <label for="goal_end_date">Goal End Date</label>
            <input id="goal_end_date" class="datepicker" name="goal_end_date" type="text" value=""/>
        </div>
        <div class="input-field inline col s6">
            <select id="daily_caloric_intake" name="daily_caloric_intake" required>
                <option value="" disabled selected>Choose Diet Level</option>
                <option value="1500">1500 Cal/Day</option>
                <option value="2000">2000 Cal/Day</option>
                <option value="2500">2500 Cal/Day</option>
            </select>
            <label>Diet Level</label>
        </div>
        <div class="input-field inline col s12">
            <label for="email">Email Address</label>
            <input id="email" class="text" name="email" type="email" />
        </div>
        <div class="row">
            <input id="updateProfile" class="btn blue accent-4 col s12" type="submit" value="Update" />
        </div>
    </form>

</div>