  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    margin-bottom: 75px;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* label color */
.input-field label {
    color: #0D47A1 !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #0D47A1 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #0D47A1 !important;
    box-shadow: 0 1px 0 0 #0D47A1;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #0D47A1 !important;
    box-shadow: 0 1px 0 0 #0D47A1 !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #0D47A1 !important;
}
/* Underline color for input */
input:not([type]):focus:not([readonly]), 
input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), 
input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), 
input[type=time]:not(.browser-default):focus:not([readonly]), 
input[type=date]:not(.browser-default):focus:not([readonly]), 
input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
input[type=tel]:not(.browser-default):focus:not([readonly]), 
input[type=number]:not(.browser-default):focus:not([readonly]), 
input[type=search]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #0D47A1 !important;
    -webkit-box-shadow: 0 1px 0 0 #0D47A1 !important;
    box-shadow: 0 1px 0 0 #0D47A1 !important;
}

.select-wrapper ul li>span {
    color: #0D47A1 !important;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #0D47A1 !important;
}