  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url(/assets/img/background2.jpg);
    background-color: #f5f5f5;
    color: #424242;
    font-family: Jua;
  }


  main {
    flex: 1 0 auto;
    margin-bottom: 75px;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.page-col3 {
    width: 25% !important;
    left: auto;
    right: auto;
}
.page-col9 {
    width: 75% !important;
    left: auto;
    right: auto;
}
.bro {
    font-family: Jua;
}

.dataTables_filter {
    text-align: left !important;
    font-size: 14px;
    font-weight: bold;
    color: #0D47A1;
}

.more-info {
        position: relative;
        max-width: 500px;
        width: 500px;
        height: 300px;
        margin: 0 auto;
        padding: 50px;
    
        -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
        -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .1);   
}
.more-info>div {
	position: absolute;
	width: inherit;
	height: inherit;
	top: -15px;
	left: -1px;
}

.links {
    position: inherit !important;
    margin: 5%;
    background-color: lightgreen;
    font-family: Jua;
    -webkit-margin-start: 80px

    
}
.calcard {
    width: 100% !important;
    height: 75% !important;
    z-index: 0;
}
.calvid{
    width: 100% !important;
    height: 75% !important;
    z-index: 0;
}
.card-style {
    margin-left: -10% !important;
    margin-right: 10% !important;

}

/* label color */
.input-field label {
    color: #0D47A1 !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #0D47A1 !important;
}

.input-field input[type=text] {
    color: #0D47A1 !important;
}

.input-field input[type=email] {
    color: #0D47A1 !important;
}

.input-field input[type=number] {
    color: #0D47A1 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #0D47A1 !important;
    box-shadow: 0 1px 0 0 #0D47A1;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #0D47A1 !important;
    box-shadow: 0 1px 0 0 #0D47A1 !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #0D47A1 !important;
}
/* Underline color for input */
input:not([type]):focus:not([readonly]), 
input[type=text]:not(.browser-default):focus:not([readonly]), 
input[type=password]:not(.browser-default):focus:not([readonly]), 
input[type=email]:not(.browser-default):focus:not([readonly]), 
input[type=url]:not(.browser-default):focus:not([readonly]), 
input[type=time]:not(.browser-default):focus:not([readonly]), 
input[type=date]:not(.browser-default):focus:not([readonly]), 
input[type=datetime]:not(.browser-default):focus:not([readonly]), 
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), 
input[type=tel]:not(.browser-default):focus:not([readonly]), 
input[type=number]:not(.browser-default):focus:not([readonly]), 
input[type=search]:not(.browser-default):focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #0D47A1 !important;
    -webkit-box-shadow: 0 1px 0 0 #0D47A1 !important;
    box-shadow: 0 1px 0 0 #0D47A1 !important;
}

.select-wrapper ul li>span {
    color: #0D47A1 !important;
}

.dropdown-content li > a, .dropdown-content li > span {
    color: #0D47A1 !important;
}
#tacos {
    width: 180px;
}